{% extends 'base.html' %}

{% block content %}
<h1>New Article</h1>
<form action="" method="POST">{% csrf_token %}
    {{ form.as_p }}
    <button class="btn btn-success ml-2" type="submit">Save</button>
</form>
{% endblock content %}